/* css styles */
/* unvisited link */
a:link {
  color: black;
}

a.pointer {
  cursor: pointer;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
